$brown-color: #D87D4A;
$dark-black-color: #101010;
$silver-color: #F1F1F1;
$light-white-color: #FAFAFA;
$light-brown-color: #fbaf85;
$white-color: #FFFFFF;
$black-color: #000000;

$main-ff: 'Manrope', sans-serif;